*.egg*
*.pyc
.coverage
.vscode
.mypy_cache/
.pytest_cache/
build/
cover/
dist/
htmlcov/
venv/
__pycache__/

# temporary until the test data has been pared down to a minimal size
tests/cache/homo_sapiens
